.footer {
  border-top: none;
  margin-top: 0;
  padding-top: 10px; /* optional, for breathing room */
  position: relative;
  z-index: 1;
  background-color: transparent; /* or match your background */
}

.logo {
  height: 3em;
  margin: 5px;
}
